body{
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
}
.Header{ 
    display:flex;
    justify-content: space-between;
    /* border:2px solid red; */
    margin:24px 153px ;
    
}

.HeaderPart1 {
    display: flex;
    align-items: center;
  } 
  
.netflix-svg{
    width: 147px;
    fill:#E50914
}
  
.HeaderPart2{
    display: flex;
    gap:15px;
}
#language{
    color:white;
    background-color: rgba(0,0,0,0.3);
    position:relative;
}

#language:active{

    outline: white;
}
#language:focus{

    outline: white;
    border: white;
}
.lanSymb{

    /* font-weight: 30px; */
    padding-top:5px;
    
    position:absolute;
    left:6px;
    z-index:1;
    font-size:20px;
    
}
.selectLang{
    color:white;
    background-color: rgba(0,0,0,0.3);
    padding:0px 24px;
    width:126px;
    height:30px;
    border:0.5px solid #666666;
    border-radius: 4px;
    font-size: 16.5px;
    font-weight: 500;
    text-align: center;
}
.selectLang option{

    background-color: white;
    color: black;
    
}

.btn{
    padding:5px 15px;
    background-color: #E50914;
    color:white;
    border:none;
    border-radius: 4px;
    font-size: 15px;
    height:30px;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{

    background-color: #e50914d8;
}
@media screen and (max-width:1100px){
    .Header{ 
        margin:24px 32px ;
    }
}

@media screen and (max-width:960px){
    .netflix-svg{
        width: 89px;
    }
}
/* @media screen and (max-width:600px){
    #language{
        
    }
} */
@media screen and (max-width:350px){
    .Header{ 
        flex-direction: column;
        gap:5px;
    }
}

